@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Model): @Html.DisplayFor(model => model.Model)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine does not belong to any engineers yet.</p>
}
else
{
  <h4>Engineers this machine belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li><h3>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.Engineer.EngineerId })</h3></li>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = @Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = @Model.MachineId })</p>
<p>@Html.ActionLink("Add a Engineer", "AddEngineer", new { id = Model.MachineId })</p>
